@page "/movies"
<h1>Movie Page</h1>
<div class="form-check-inline">
            <input class="form-control mr-sm2" type="text" @bind-value="searchText" @bind-value:event="oninput"/>
</div>





@code {
    public string searchText = "";


}
