@page "/music"
<h1>Music Page</h1>


<main>
<div class="form-check-inline">
            <input class="form-control mr-sm2" type="text" @bind-value="searchText" @bind-value:event="oninput"/>
</div>
<div class="content px-4">
    <CascadingValue Value="this">
     
    </CascadingValue>
</div>


</main>








@code {


    public string searchText = "";


}