<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Spotiflix</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="music">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Music page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sab">
                <span class="oi oi-list-rich" aria-hidden="true"></span> To Hell and Back
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="boom">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Boomx4
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Movie page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grim">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grimsby
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jackass">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Jackass The Moive
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="series">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Series page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mr">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mr. Igelias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unknown">
                <span class="oi oi-list-rich" aria-hidden="true"></span> The unknown Soldier
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
